<%- include('header.ejs') %>
  <body>
    <div class="wrapper">
      <h1 class="title">Welcome to <span>LangSniffer</span></h1>
      <p class="prompt">Please enter a phrase from any language:</p>
      <form class="input" action="/" method="POST">
        <textarea name="phrase" id="phrase"></textarea>
        <input type="submit" value="Submit" />
      </form>
      <p class="result">
        <% if (langName) { %> The language of your phrase is <%= langName %>. <% }
        %>
      </p>
    </div>
  </body>
</html>
